# Incidents and Crime data set

## 1. Data Sources

In [1]:
import pandas as pd
import numpy as np 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
crime_path = 'http://donnees.ville.montreal.qc.ca/dataset/5829b5b0-ea6f-476f-be94-bc2b8797769a/resource/c6f482bf-bf0f-4960-8b2f-9982c211addd/download'
incidents_path = 'http://donnees.ville.montreal.qc.ca/dataset/interventions-service-securite-incendie-montreal/resource/9e67d2f3-9104-4af4-aac4-022df621a749/download'

In [3]:
crime = pd.read_csv(crime_path, encoding='latin-1')
incidents = pd.read_csv(incidents_path)

In [4]:
incidents.head()
crime.head()

,INCIDENT_NBR,CREATION_DATE_TIME,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,CASERNE,NOM_VILLE,NOM_ARROND,DIVISION,NOMBRE_UNITES,CIV,MTM8_X,MTM8_Y,LONGITUDE,LATITUDE
0,2048,2015-01-05T08:09:46,Premier répondant,1-REPOND,55,Pointe-Claire,Indéterminé,2,1.0,1.0,279509.7,5035820.8,-73.823393,45.461858
1,2460,2015-01-06T04:21:37,Premier répondant,1-REPOND,43,Montréal,Ahuntsic / Cartierville,3,1.0,1.0,292543.8,5048113.1,-73.657032,45.572819
2,3683,2015-01-08T19:56:00,Premier répondant,1-REPOND,57,Montréal,Pierrefonds / Roxboro,1,1.0,1.0,280120.1,5040879.5,-73.815842,45.507400
3,3694,2015-01-08T20:16:14,Premier répondant,1-REPOND,38,Montréal,Rivière-des-Prairies / Pointe-aux-Trembles,9,1.0,1.0,304937.5,5059188.6,-73.498235,45.672587
4,758,2015-01-02T20:41:37,Premier répondant,1-REPOND,55,Pointe-Claire,Indéterminé,2,1.0,1.0,281503.5,5034372.5,-73.797830,45.448895

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Méfait,2017-07-21,jour,21.0,0.000000,0.000000e+00,1.000000,1.000000
4,Méfait,2017-07-29,jour,12.0,0.000000,0.000000e+00,1.000000,1.000000

## 2. Data Exploration and Cleaning

In [5]:
incidents.info()
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647108 entries, 0 to 647107
Data columns (total 14 columns):
INCIDENT_NBR          647108 non-null int64
CREATION_DATE_TIME    647108 non-null object
INCIDENT_TYPE_DESC    647108 non-null object
DESCRIPTION_GROUPE    647090 non-null object
CASERNE               647108 non-null int64
NOM_VILLE             647108 non-null object
NOM_ARROND            647108 non-null object
DIVISION              647108 non-null int64
NOMBRE_UNITES         646938 non-null float64
CIV                   575962 non-null float64
MTM8_X                647108 non-null float64
MTM8_Y                647108 non-null float64
LONGITUDE             647108 non-null float64
LATITUDE              647108 non-null float64
dtypes: float64(6), int64(3), object(5)
memory usage: 69.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172673 entries, 0 to 172672
Data columns (total 8 columns):
CATEGORIE    172673 non-null object
DATE         172673 non-null object
QUART        172673 non-null object
PDQ          172669 non-null float64
X            172673 non-null float64
Y            172673 non-null float64
LONGITUDE    172673 non-null float64
LATITUDE     172673 non-null float64
dtypes: float64(5), object(3)
memory usage: 10.5+ MB

In [6]:
incidents.isnull().sum()

INCIDENT_NBR              0
CREATION_DATE_TIME        0
INCIDENT_TYPE_DESC        0
DESCRIPTION_GROUPE       18
CASERNE                   0
NOM_VILLE                 0
NOM_ARROND                0
DIVISION                  0
NOMBRE_UNITES           170
CIV                   71146
MTM8_X                    0
MTM8_Y                    0
LONGITUDE                 0
LATITUDE                  0
dtype: int64

In [7]:
crime.isnull().sum()

CATEGORIE    0
DATE         0
QUART        0
PDQ          4
X            0
Y            0
LONGITUDE    0
LATITUDE     0
dtype: int64

### 2.1 Transfer the CREATION_DATE_TIME and DATE from object into datetime64

In [8]:
incidents['DATE'] =  pd.to_datetime(incidents['CREATION_DATE_TIME'],format='%Y-%m-%d %H:%M:%S')
crime['DATE'] =  pd.to_datetime(crime['DATE'],format='%Y-%m-%d')

In [9]:
incidents.head()
crime.head()

,INCIDENT_NBR,CREATION_DATE_TIME,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,CASERNE,NOM_VILLE,NOM_ARROND,DIVISION,NOMBRE_UNITES,CIV,MTM8_X,MTM8_Y,LONGITUDE,LATITUDE,DATE
0,2048,2015-01-05T08:09:46,Premier répondant,1-REPOND,55,Pointe-Claire,Indéterminé,2,1.0,1.0,279509.7,5035820.8,-73.823393,45.461858,2015-01-05 08:09:46
1,2460,2015-01-06T04:21:37,Premier répondant,1-REPOND,43,Montréal,Ahuntsic / Cartierville,3,1.0,1.0,292543.8,5048113.1,-73.657032,45.572819,2015-01-06 04:21:37
2,3683,2015-01-08T19:56:00,Premier répondant,1-REPOND,57,Montréal,Pierrefonds / Roxboro,1,1.0,1.0,280120.1,5040879.5,-73.815842,45.507400,2015-01-08 19:56:00
3,3694,2015-01-08T20:16:14,Premier répondant,1-REPOND,38,Montréal,Rivière-des-Prairies / Pointe-aux-Trembles,9,1.0,1.0,304937.5,5059188.6,-73.498235,45.672587,2015-01-08 20:16:14
4,758,2015-01-02T20:41:37,Premier répondant,1-REPOND,55,Pointe-Claire,Indéterminé,2,1.0,1.0,281503.5,5034372.5,-73.797830,45.448895,2015-01-02 20:41:37

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Méfait,2017-07-21,jour,21.0,0.000000,0.000000e+00,1.000000,1.000000
4,Méfait,2017-07-29,jour,12.0,0.000000,0.000000e+00,1.000000,1.000000

In [10]:
incidents.info()
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647108 entries, 0 to 647107
Data columns (total 15 columns):
INCIDENT_NBR          647108 non-null int64
CREATION_DATE_TIME    647108 non-null object
INCIDENT_TYPE_DESC    647108 non-null object
DESCRIPTION_GROUPE    647090 non-null object
CASERNE               647108 non-null int64
NOM_VILLE             647108 non-null object
NOM_ARROND            647108 non-null object
DIVISION              647108 non-null int64
NOMBRE_UNITES         646938 non-null float64
CIV                   575962 non-null float64
MTM8_X                647108 non-null float64
MTM8_Y                647108 non-null float64
LONGITUDE             647108 non-null float64
LATITUDE              647108 non-null float64
DATE                  647108 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 74.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172673 entries, 0 to 172672
Data columns (total 8 columns):
CATEGORIE    172673 non-null object
DATE         172673 non-null datetime64[ns]
QUART        172673 non-null object
PDQ          172669 non-null float64
X            172673 non-null float64
Y            172673 non-null float64
LONGITUDE    172673 non-null float64
LATITUDE     172673 non-null float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 10.5+ MB

### Keep the useful variables
### For incidents data, only keep Date, INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,	NOM_ARROND,LONGITUDE,LATITUDE (6 varaibles). 
### For crime data, only keep CATEGORIE, DATE,	QUART, LONGITUDE, LATITUDE (5 varables).

In [11]:
incidents= incidents[['DATE','INCIDENT_TYPE_DESC','DESCRIPTION_GROUPE','NOM_ARROND','LONGITUDE','LATITUDE']]
incidents.head()

crime = crime[['DATE','QUART','CATEGORIE','LONGITUDE','LATITUDE']]
crime.head()

,DATE,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,NOM_ARROND,LONGITUDE,LATITUDE
0,2015-01-05 08:09:46,Premier répondant,1-REPOND,Indéterminé,-73.823393,45.461858
1,2015-01-06 04:21:37,Premier répondant,1-REPOND,Ahuntsic / Cartierville,-73.657032,45.572819
2,2015-01-08 19:56:00,Premier répondant,1-REPOND,Pierrefonds / Roxboro,-73.815842,45.507400
3,2015-01-08 20:16:14,Premier répondant,1-REPOND,Rivière-des-Prairies / Pointe-aux-Trembles,-73.498235,45.672587
4,2015-01-02 20:41:37,Premier répondant,1-REPOND,Indéterminé,-73.797830,45.448895

        DATE QUART                 CATEGORIE  LONGITUDE   LATITUDE
0 2018-09-13  jour  Vol de véhicule à moteur -73.626778  45.567780
1 2018-04-30  jour  Vol de véhicule à moteur -73.626778  45.567780
2 2018-09-01  nuit  Vol de véhicule à moteur -73.685928  45.519122
3 2017-07-21  jour                    Méfait   1.000000   1.000000
4 2017-07-29  jour                    Méfait   1.000000   1.000000

### 2.2 
### For incidents data,  need DESCRIPTION_GROUPE == INCENDIE and NOM_ARROND != 'Indéterminé'
### For crime data, remove LONGITUDE = 1.0 and LATITUDE =1.0 invalid data point.

In [12]:
print(incidents['NOM_ARROND'].value_counts())

Ville-Marie                                   76252
Indéterminé                                   62087
Côte-des-Neiges / Notre-Dame-de-Grâce         50020
Mercier / Hochelaga-Maisonneuve               48971
Villeray / St-Michel / Parc Extension         42185
Rosemont / Petite-Patrie                      41795
Ahuntsic / Cartierville                       39724
Plateau Mont-Royal                            38484
Montréal-Nord                                 33050
Rivière-des-Prairies / Pointe-aux-Trembles    32011
Saint-Laurent                                 31087
Sud-Ouest                                     29240
Lasalle                                       22582
Saint-Léonard                                 22500
Verdun                                        19504
Lachine                                       16773
Pierrefonds / Roxboro                         15174
Anjou                                         13994
Outremont                                      6650
L'Ile-Bizard / Ste-Geneviève                   5025
Name: NOM_ARROND, dtype: int64

In [13]:
incidents_one_group = incidents.loc[incidents['DESCRIPTION_GROUPE'] == 'INCENDIE']
incidents_one_group_cl = incidents_one_group[incidents_one_group.NOM_ARROND != 'Indéterminé']
incidents_indet = incidents_one_group[incidents_one_group.NOM_ARROND == 'Indéterminé']


crime_all = crime[crime.LONGITUDE != 1.000000]

In [14]:
#save incidents_one_group
incidents_one_group.to_csv('D:/MCGILL-DATA SCIENCE/YCBS-299-PRJ/data/jjycleaned/incidents_one_group.csv', index = False)

#save incidents_one_group_cl
incidents_one_group_cl.to_csv('D:/MCGILL-DATA SCIENCE/YCBS-299-PRJ/data/jjycleaned/incidents_one_group_cl.csv', index = False)

#save incidents_indet
incidents_indet.to_csv('D:/MCGILL-DATA SCIENCE/YCBS-299-PRJ/data/jjycleaned/incidents_indet.csv', index = False)

#save crime_all
crime_all.to_csv('D:/MCGILL-DATA SCIENCE/YCBS-299-PRJ/data/jjycleaned/crime_all.csv', index = False)

##### using alteryx master geo to translate all the longitude and latitude into ARROND align to the stations geo.

### 2.3 Check Alteryx csv files

In [15]:
path = "D:/MCGILL-DATA SCIENCE/YCBS-299-PRJ/data/jjycleaned/2015-2019/"
incidents_all_cl = path + 'incidents_one_group_all_new_arronds.csv'

incidents_all_cl = pd.read_csv(incidents_all_cl, encoding='Latin-1')
print(incidents_all_cl['ARRONDISSEMENT'].value_counts())

VILLE-MARIE                                 700
ROSEMONT-LA PETITE-PATRIE                   526
MERCIER-HOCHELAGA-MAISONNEUVE               494
AHUNTSIC-CARTIERVILLE                       438
COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE         435
VILLERAY-SAINT-MICHEL-PARC-EXTENSION        407
LE SUD-OUEST                                397
LE PLATEAU-MONT-ROYAL                       370
MONTREAL-NORD                               340
SAINT-LAURENT                               322
RIVIERE-DES-PRAIRIES-POINTE-AUX-TREMBLES    237
VERDUN                                      211
LASALLE                                     209
SAINT-LEONARD                               198
PIERREFONDS-ROXBORO                         194
LACHINE                                     168
ANJOU                                       130
DORVAL                                      121
MONT-ROYAL                                  119
COTE-SAINT-LUC                              108
MONTREAL-EST                                106
MONTREAL-OUEST                               99
DOLLARD-DES-ORMEAUX                          80
OUTREMONT                                    74
POINTE-CLAIRE                                64
HAMPSTEAD                                    55
L'ILE-BIZARD-SAINTE-GENEVIEVE                53
WESTMOUNT                                    49
KIRKLAND                                     36
BAIE-D'URFE                                  25
BEACONSFIELD                                 20
SAINTE-ANNE-DE-BELLEVUE                      14
Name: ARRONDISSEMENT, dtype: int64

In [16]:
path = "D:/MCGILL-DATA SCIENCE/YCBS-299-PRJ/data/jjycleaned/2015-2019/"
crime_all_arrond = path + 'crime_all_arrond.csv'

crime_all_arrond = pd.read_csv(crime_all_arrond, encoding='Latin-1')
print(crime_all_arrond['ARRONDISSEMENT'].value_counts())

VILLE-MARIE                                 20407
MERCIER-HOCHELAGA-MAISONNEUVE               13802
ROSEMONT-LA PETITE-PATRIE                   11928
AHUNTSIC-CARTIERVILLE                        8883
VILLERAY-SAINT-MICHEL-PARC-EXTENSION         7919
LE PLATEAU-MONT-ROYAL                        7733
COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE          7267
SAINT-LAURENT                                6975
LE SUD-OUEST                                 6872
MONTREAL-NORD                                6812
SAINT-LEONARD                                5327
RIVIERE-DES-PRAIRIES-POINTE-AUX-TREMBLES     5320
DORVAL                                       3504
ANJOU                                        3483
VERDUN                                       3422
LASALLE                                      3089
PIERREFONDS-ROXBORO                          2780
LACHINE                                      2405
POINTE-CLAIRE                                1764
MONTREAL-EST                                 1757
MONTREAL-OUEST                               1460
OUTREMONT                                    1410
MONT-ROYAL                                   1139
WESTMOUNT                                    1073
C¡Ì?TE-SAINT-LUC                             1057
DOLLARD-DES-ORMEAUX                          1026
HAMPSTEAD                                     961
KIRKLAND                                      824
L'ILE-BIZARD-SAINTE-GENEVIEVE                 563
BEACONSFIELD                                  516
BAIE-D'URFE                                   305
SAINTE-ANNE-DE-BELLEVUE                       232
Name: ARRONDISSEMENT, dtype: int64

In [17]:
crime_all_arrond= crime_all_arrond.replace({'ARRONDISSEMENT': {'C¡Ì?TE-SAINT-LUC':'COTE-SAINT-LUC'}})
incidents_all_cl=incidents_all_cl.replace({'ARRONDISSEMENT': {'C¡Ì?TE-SAINT-LUC':'COTE-SAINT-LUC'}})

In [18]:
print(incidents_all_cl['ARRONDISSEMENT'].value_counts())
print(crime_all_arrond['ARRONDISSEMENT'].value_counts())

VILLE-MARIE                                 700
ROSEMONT-LA PETITE-PATRIE                   526
MERCIER-HOCHELAGA-MAISONNEUVE               494
AHUNTSIC-CARTIERVILLE                       438
COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE         435
VILLERAY-SAINT-MICHEL-PARC-EXTENSION        407
LE SUD-OUEST                                397
LE PLATEAU-MONT-ROYAL                       370
MONTREAL-NORD                               340
SAINT-LAURENT                               322
RIVIERE-DES-PRAIRIES-POINTE-AUX-TREMBLES    237
VERDUN                                      211
LASALLE                                     209
SAINT-LEONARD                               198
PIERREFONDS-ROXBORO                         194
LACHINE                                     168
ANJOU                                       130
DORVAL                                      121
MONT-ROYAL                                  119
COTE-SAINT-LUC                              108
MONTREAL-EST                                106
MONTREAL-OUEST                               99
DOLLARD-DES-ORMEAUX                          80
OUTREMONT                                    74
POINTE-CLAIRE                                64
HAMPSTEAD                                    55
L'ILE-BIZARD-SAINTE-GENEVIEVE                53
WESTMOUNT                                    49
KIRKLAND                                     36
BAIE-D'URFE                                  25
BEACONSFIELD                                 20
SAINTE-ANNE-DE-BELLEVUE                      14
Name: ARRONDISSEMENT, dtype: int64
VILLE-MARIE                                 20407
MERCIER-HOCHELAGA-MAISONNEUVE               13802
ROSEMONT-LA PETITE-PATRIE                   11928
AHUNTSIC-CARTIERVILLE                        8883
VILLERAY-SAINT-MICHEL-PARC-EXTENSION         7919
LE PLATEAU-MONT-ROYAL                        7733
COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE          7267
SAINT-LAURENT                                6975
LE SUD-OUEST                                 6872
MONTREAL-NORD                                6812
SAINT-LEONARD                                5327
RIVIERE-DES-PRAIRIES-POINTE-AUX-TREMBLES     5320
DORVAL                                       3504
ANJOU                                        3483
VERDUN                                       3422
LASALLE                                      3089
PIERREFONDS-ROXBORO                          2780
LACHINE                                      2405
POINTE-CLAIRE                                1764
MONTREAL-EST                                 1757
MONTREAL-OUEST                               1460
OUTREMONT                                    1410
MONT-ROYAL                                   1139
WESTMOUNT                                    1073
COTE-SAINT-LUC                               1057
DOLLARD-DES-ORMEAUX                          1026
HAMPSTEAD                                     961
KIRKLAND                                      824
L'ILE-BIZARD-SAINTE-GENEVIEVE                 563
BEACONSFIELD                                  516
BAIE-D'URFE                                   305
SAINTE-ANNE-DE-BELLEVUE                       232
Name: ARRONDISSEMENT, dtype: int64

In [19]:
incidents_all_cl.isnull().sum()
crime_all_arrond.isnull().sum()

RecordID              0
Date                  0
INCIDENT_TYPE_DESC    0
DESCRIPTION_GROUPE    0
NOM_ARROND            0
LONGITUDE             0
LATITUDE              0
ARRONDISSEMENT        0
dtype: int64

RecordID          0
DATE              0
QUART             0
CATEGORIE         0
LONGITUDE         0
LATITUDE          0
ARRONDISSEMENT    0
dtype: int64

In [20]:
incidents_all_cl.head()
crime_all_arrond.head()

,RecordID,Date,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,NOM_ARROND,LONGITUDE,LATITUDE,ARRONDISSEMENT
0,1,2019-01-07 11:28,Feu de bï¿½time,INCENDIE,Indï¿½termi,-73.816436,45.443558,POINTE-CLAIRE
1,2,2019-01-18 14:18,10-22 avec feu,INCENDIE,Verdun,-73.565915,45.462734,VERDUN
2,3,2016-01-20 8:06,Feu / 4e Alerte,INCENDIE,Montrï¿½al-No,-73.620689,45.599907,MONTREAL-NORD
3,4,2019-01-20 23:00,10-22 avec feu,INCENDIE,Mercier / Hochelaga-Maisonneuve,-73.535480,45.548450,MERCIER-HOCHELAGA-MAISONNEUVE
4,5,2020-01-23 0:45,Feu de bï¿½time,INCENDIE,Cï¿½te-des-Neiges / Notre-Dame-de-Grï,-73.638709,45.487846,COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE

,RecordID,DATE,QUART,CATEGORIE,LONGITUDE,LATITUDE,ARRONDISSEMENT
0,1,2018-09-13,jour,Vol de véhicule à moteur,-73.626778,45.567780,VILLERAY-SAINT-MICHEL-PARC-EXTENSION
1,2,2018-04-30,jour,Vol de véhicule à moteur,-73.626778,45.567780,VILLERAY-SAINT-MICHEL-PARC-EXTENSION
2,3,2018-09-01,nuit,Vol de véhicule à moteur,-73.685928,45.519122,SAINT-LAURENT
3,4,2017-07-30,jour,Méfait,-73.591457,45.516776,LE PLATEAU-MONT-ROYAL
4,5,2017-08-01,jour,Vol dans / sur véhicule à moteur,-73.635117,45.602873,MONTREAL-NORD

### 2.4 For Incidents data set, seperate Date, Time and Quart

#day(jour): Between 8:01 am and 4:00 pm                8:01-16:00
#evening(soir): Between 4:01 p.m. and midnight         16:01-00:00
#night(nuit): between 12:01 am and 8 am                00:01-08:00

In [21]:
def f(x):
    if (x > 8) and (x <= 16):
        return 'jour'
    elif (x > 16) and (x <= 24 ):
        return 'soir'
    elif (x > 0) and (x <= 8):
        return'nuit'
    elif (x == 0) :
        return'nuit'

In [22]:
incidents_all_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6799 entries, 0 to 6798
Data columns (total 8 columns):
RecordID              6799 non-null int64
Date                  6799 non-null object
INCIDENT_TYPE_DESC    6799 non-null object
DESCRIPTION_GROUPE    6799 non-null object
NOM_ARROND            6799 non-null object
LONGITUDE             6799 non-null float64
LATITUDE              6799 non-null float64
ARRONDISSEMENT        6799 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 425.1+ KB

In [23]:
incidents_all_cl['YEAR'] = pd.to_datetime(incidents_all_cl['Date']).dt.year
incidents_all_cl['DATE'] = pd.to_datetime(incidents_all_cl['Date']).dt.date
incidents_all_cl['HOUR'] = pd.to_datetime(incidents_all_cl['Date']).dt.hour
incidents_all_cl['QUART'] = incidents_all_cl['HOUR'].apply(f)
incidents_all_cl.head()

,RecordID,Date,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,NOM_ARROND,LONGITUDE,LATITUDE,ARRONDISSEMENT,YEAR,DATE,HOUR,QUART
0,1,2019-01-07 11:28,Feu de bï¿½time,INCENDIE,Indï¿½termi,-73.816436,45.443558,POINTE-CLAIRE,2019,2019-01-07,11,jour
1,2,2019-01-18 14:18,10-22 avec feu,INCENDIE,Verdun,-73.565915,45.462734,VERDUN,2019,2019-01-18,14,jour
2,3,2016-01-20 8:06,Feu / 4e Alerte,INCENDIE,Montrï¿½al-No,-73.620689,45.599907,MONTREAL-NORD,2016,2016-01-20,8,nuit
3,4,2019-01-20 23:00,10-22 avec feu,INCENDIE,Mercier / Hochelaga-Maisonneuve,-73.535480,45.548450,MERCIER-HOCHELAGA-MAISONNEUVE,2019,2019-01-20,23,soir
4,5,2020-01-23 0:45,Feu de bï¿½time,INCENDIE,Cï¿½te-des-Neiges / Notre-Dame-de-Grï,-73.638709,45.487846,COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE,2020,2020-01-23,0,nuit

## 3. Feature Engineering
### 3.1 Choose related variables

In [24]:
incidents_model= incidents_all_cl[['DATE','YEAR','QUART','INCIDENT_TYPE_DESC','DESCRIPTION_GROUPE','ARRONDISSEMENT']]
incidents_model.sort_values(by=['DATE', 'ARRONDISSEMENT']).head(15)

crime_model = crime_all_arrond[['DATE','QUART','CATEGORIE','ARRONDISSEMENT']]
crime_model.sort_values(by=['DATE','ARRONDISSEMENT']).head(15)

,DATE,YEAR,QUART,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,ARRONDISSEMENT
3546,2015-01-01,2015,nuit,10-22 avec feu,INCENDIE,AHUNTSIC-CARTIERVILLE
4291,2015-01-01,2015,nuit,10-22 avec feu,INCENDIE,LE SUD-OUEST
214,2015-01-01,2015,nuit,10-22 avec feu,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE
3642,2015-01-01,2015,jour,10-22 avec feu,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE
5964,2015-01-01,2015,soir,10-22 avec feu,INCENDIE,SAINT-LEONARD
1906,2015-01-01,2015,soir,10-22 avec feu,INCENDIE,WESTMOUNT
727,2015-01-02,2015,jour,10-22 avec feu,INCENDIE,DORVAL
1907,2015-01-02,2015,soir,Feu / 3e Alerte,INCENDIE,LE PLATEAU-MONT-ROYAL
2812,2015-01-02,2015,soir,Feu / 3e Alerte,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE
2713,2015-01-02,2015,soir,10-22 avec feu,INCENDIE,VILLE-MARIE
2595,2015-01-04,2015,jour,10-22 avec feu,INCENDIE,LE SUD-OUEST
5679,2015-01-04,2015,soir,10-22 avec feu,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE
6577,2015-01-04,2015,soir,10-22 avec feu,INCENDIE,ROSEMONT-LA PETITE-PATRIE
954,2015-01-05,2015,nuit,10-22 avec feu,INCENDIE,DORVAL
4175,2015-01-05,2015,nuit,Feu de bï¿½time,INCENDIE,LE SUD-OUEST

,DATE,QUART,CATEGORIE,ARRONDISSEMENT
12698,2015-01-01,soir,Introduction,AHUNTSIC-CARTIERVILLE
46326,2015-01-01,soir,Vol dans / sur véhicule à moteur,AHUNTSIC-CARTIERVILLE
55592,2015-01-01,jour,Introduction,AHUNTSIC-CARTIERVILLE
90432,2015-01-01,soir,Introduction,ANJOU
29428,2015-01-01,jour,Méfait,BEACONSFIELD
90456,2015-01-01,jour,Méfait,COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE
204,2015-01-01,nuit,Vol de véhicule à moteur,DORVAL
43320,2015-01-01,jour,Méfait,DORVAL
85278,2015-01-01,jour,Introduction,L'ILE-BIZARD-SAINTE-GENEVIEVE
11903,2015-01-01,nuit,Introduction,LACHINE
76556,2015-01-01,soir,Introduction,LACHINE
5023,2015-01-01,soir,Méfait,LASALLE
8305,2015-01-01,soir,Introduction,LASALLE
60110,2015-01-01,soir,Introduction,LASALLE
20308,2015-01-01,jour,Introduction,LE PLATEAU-MONT-ROYAL

In [25]:
incidents_model.info()
crime_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6799 entries, 0 to 6798
Data columns (total 6 columns):
DATE                  6799 non-null object
YEAR                  6799 non-null int64
QUART                 6799 non-null object
INCIDENT_TYPE_DESC    6799 non-null object
DESCRIPTION_GROUPE    6799 non-null object
ARRONDISSEMENT        6799 non-null object
dtypes: int64(1), object(5)
memory usage: 318.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142015 entries, 0 to 142014
Data columns (total 4 columns):
DATE              142015 non-null object
QUART             142015 non-null object
CATEGORIE         142015 non-null object
ARRONDISSEMENT    142015 non-null object
dtypes: object(4)
memory usage: 4.3+ MB

In [26]:
incidents_model['DATE'] = incidents_model['DATE'].astype('datetime64[ns]') 
crime_model['DATE'] = crime_model['DATE'].astype('datetime64[ns]')

D:\anacoda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\anacoda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Create new feature: fire risk rate

In [27]:
rate = incidents_model.groupby(['YEAR','ARRONDISSEMENT']).size()/incidents_model.groupby(['YEAR']).size()

In [28]:
rate=pd.DataFrame(rate)

In [29]:
print(rate.columns)

RangeIndex(start=0, stop=1, step=1)

In [30]:
rate.rename(columns={0:'rate'}, 
                 inplace=True)

In [31]:
rate

                                               rate
YEAR ARRONDISSEMENT
2015 AHUNTSIC-CARTIERVILLE                 0.077315
     ANJOU                                 0.013594
     BAIE-D'URFE                           0.004248
     BEACONSFIELD                          0.005098
     COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE   0.063721
...                                             ...
2020 SAINTE-ANNE-DE-BELLEVUE               0.002227
     VERDUN                                0.031180
     VILLE-MARIE                           0.113586
     VILLERAY-SAINT-MICHEL-PARC-EXTENSION  0.053452
     WESTMOUNT                             0.003341

[191 rows x 1 columns]

In [32]:
rate=rate.reset_index(level=['YEAR', 'ARRONDISSEMENT'])

In [33]:
incidents_model=pd.merge(incidents_model, rate, on=['YEAR', 'ARRONDISSEMENT'])

In [34]:
incidents_model.rename(columns={'rate':'FIRE_RISK_RATE_YR'},
                                       inplace=True)

In [35]:
incidents_model.sort_values(['YEAR','FIRE_RISK_RATE_YR'])

,DATE,YEAR,QUART,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,ARRONDISSEMENT,FIRE_RISK_RATE_YR
6372,2015-11-23,2015,jour,Feu de bï¿½time,INCENDIE,BAIE-D'URFE,0.004248
6373,2015-03-15,2015,soir,10-22 avec feu,INCENDIE,BAIE-D'URFE,0.004248
6374,2015-09-22,2015,nuit,10-22 avec feu,INCENDIE,BAIE-D'URFE,0.004248
6375,2015-02-05,2015,nuit,10-22 avec feu,INCENDIE,BAIE-D'URFE,0.004248
6376,2015-05-31,2015,jour,10-22 avec feu,INCENDIE,BAIE-D'URFE,0.004248
...,...,...,...,...,...,...,...
1132,2020-06-20,2020,nuit,10-22 avec feu,INCENDIE,VILLE-MARIE,0.113586
1133,2020-01-03,2020,jour,Feu / 2e Alerte,INCENDIE,VILLE-MARIE,0.113586
1134,2020-01-12,2020,soir,10-22 avec feu,INCENDIE,VILLE-MARIE,0.113586
1135,2020-06-05,2020,nuit,10-22 avec feu,INCENDIE,VILLE-MARIE,0.113586
1136,2020-01-27,2020,soir,Feu de cuisiniï¿½,INCENDIE,VILLE-MARIE,0.113586

In [36]:
np.percentile(incidents_model['FIRE_RISK_RATE_YR'],[0, 40, 75, 100])

array([0.00111359, 0.04813278, 0.0713073 , 0.12116183])

In [37]:
import matplotlib.pyplot as plt

plt.hist(incidents_model['FIRE_RISK_RATE_YR'])

(array([ 492.,  780.,  956.,  675., 1148., 1143.,  920.,  182.,  122.,
         381.]),
 array([0.00111359, 0.01311841, 0.02512323, 0.03712806, 0.04913288,
        0.06113771, 0.07314253, 0.08514735, 0.09715218, 0.109157  ,
        0.12116183]),
 <a list of 10 Patch objects>)

In [38]:
incidents_model.loc[incidents_model.FIRE_RISK_RATE_YR >= 0.0713073 , 'RISK_LVL'] = 'High'
incidents_model.loc[((incidents_model.FIRE_RISK_RATE_YR >= 0.04813278) & (incidents_model.FIRE_RISK_RATE_YR < 0.0713073 )), 'RISK_LVL'] = 'Medium'
incidents_model.loc[incidents_model.FIRE_RISK_RATE_YR < 0.04813278, 'RISK_LVL'] = 'Low'

In [39]:
incidents_model

,DATE,YEAR,QUART,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,ARRONDISSEMENT,FIRE_RISK_RATE_YR,RISK_LVL
0,2019-01-07,2019,jour,Feu de bï¿½time,INCENDIE,POINTE-CLAIRE,0.014108,Low
1,2019-01-11,2019,jour,10-22 avec feu,INCENDIE,POINTE-CLAIRE,0.014108,Low
2,2019-09-27,2019,soir,Feu de cuisiniï¿½,INCENDIE,POINTE-CLAIRE,0.014108,Low
3,2019-01-18,2019,soir,10-22 avec feu,INCENDIE,POINTE-CLAIRE,0.014108,Low
4,2019-10-18,2019,jour,10-22 avec feu,INCENDIE,POINTE-CLAIRE,0.014108,Low
...,...,...,...,...,...,...,...,...
6794,2019-12-24,2019,soir,Feu de cuisiniï¿½,INCENDIE,L'ILE-BIZARD-SAINTE-GENEVIEVE,0.002490,Low
6795,2020-04-25,2020,soir,10-22 avec feu,INCENDIE,WESTMOUNT,0.003341,Low
6796,2020-05-06,2020,jour,Feu de bï¿½time,INCENDIE,WESTMOUNT,0.003341,Low
6797,2020-02-29,2020,soir,10-22 avec feu,INCENDIE,WESTMOUNT,0.003341,Low
6798,2020-06-15,2020,jour,10-22 avec feu,INCENDIE,BAIE-D'URFE,0.001114,Low

In [40]:
incidents_model.groupby("RISK_LVL").count()

,DATE,YEAR,QUART,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,ARRONDISSEMENT,FIRE_RISK_RATE_YR
RISK_LVL,,,,,,,
High,1774,1774,1774,1774,1774,1774,1774
Low,2674,2674,2674,2674,2674,2674,2674
Medium,2351,2351,2351,2351,2351,2351,2351

In [52]:
# save risk level according to the boroughs
risk_rate_level = incidents_model[['YEAR', 'ARRONDISSEMENT','FIRE_RISK_RATE_YR','RISK_LVL']]

risk_rate_level = risk_rate_level.drop_duplicates()
risk_rate_level = risk_rate_level.sort_values(by=['YEAR','FIRE_RISK_RATE_YR'],ascending=False)
risk_rate_level.to_csv('D:/MCGILL-DATA SCIENCE/YCBS-299-PRJ/data/jjycleaned/risk_rate_level.csv', index = False)

In [58]:
risk_rate_level[risk_rate_level.YEAR==2016]

,YEAR,ARRONDISSEMENT,FIRE_RISK_RATE_YR,RISK_LVL
850,2016,VILLE-MARIE,0.085739,High
5132,2016,ROSEMONT-LA PETITE-PATRIE,0.078098,High
2821,2016,VILLERAY-SAINT-MICHEL-PARC-EXTENSION,0.077250,High
3949,2016,MERCIER-HOCHELAGA-MAISONNEUVE,0.074703,High
951,2016,AHUNTSIC-CARTIERVILLE,0.071307,High
4842,2016,COTE-DES-NEIGES-NOTRE-DAME-DE-GRACE,0.069610,Medium
3500,2016,LE SUD-OUEST,0.067063,Medium
3068,2016,LE PLATEAU-MONT-ROYAL,0.056027,Medium
53,2016,MONTREAL-NORD,0.048387,Medium
2486,2016,SAINT-LAURENT,0.035654,Low
6150,2016,PIERREFONDS-ROXBORO,0.033107,Low
6110,2016,RIVIERE-DES-PRAIRIES-POINTE-AUX-TREMBLES,0.030560,Low
5390,2016,LASALLE,0.029711,Low
3670,2016,VERDUN,0.028862,Low
3361,2016,LACHINE,0.021222,Low
5581,2016,DOLLARD-DES-ORMEAUX,0.020374,Low
694,2016,SAINT-LEONARD,0.019525,Low
5247,2016,MONTREAL-EST,0.017827,Low
5560,2016,COTE-SAINT-LUC,0.017827,Low
5945,2016,DORVAL,0.016129,Low
4824,2016,MONT-ROYAL,0.015280,Low
4669,2016,OUTREMONT,0.012733,Low
6764,2016,ANJOU,0.011885,Low
5876,2016,HAMPSTEAD,0.011036,Low
3799,2016,MONTREAL-OUEST,0.010187,Low
6099,2016,L'ILE-BIZARD-SAINTE-GENEVIEVE,0.009338,Low
3250,2016,WESTMOUNT,0.008489,Low
6493,2016,POINTE-CLAIRE,0.007640,Low
3443,2016,KIRKLAND,0.005942,Low
6702,2016,SAINTE-ANNE-DE-BELLEVUE,0.003396,Low
4924,2016,BAIE-D'URFE,0.002547,Low
6778,2016,BEACONSFIELD,0.002547,Low

### 3.2 Incident data left join the crime data

In [53]:
result = pd.merge(incidents_model, crime_model, how = 'left', on = ['DATE','QUART','ARRONDISSEMENT'])

In [54]:
result.sort_values(by=['DATE']).head(10)

,DATE,YEAR,QUART,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,ARRONDISSEMENT,FIRE_RISK_RATE_YR,RISK_LVL,CATEGORIE
12058,2015-01-01,2015,soir,10-22 avec feu,INCENDIE,WESTMOUNT,0.008496,Low,NaN
7532,2015-01-01,2015,jour,10-22 avec feu,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE,0.080714,High,Introduction
7531,2015-01-01,2015,jour,10-22 avec feu,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE,0.080714,High,Introduction
4164,2015-01-01,2015,nuit,10-22 avec feu,INCENDIE,LE SUD-OUEST,0.067969,Medium,NaN
8356,2015-01-01,2015,soir,10-22 avec feu,INCENDIE,SAINT-LEONARD,0.027188,Low,NaN
7530,2015-01-01,2015,jour,10-22 avec feu,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE,0.080714,High,Méfait
7280,2015-01-01,2015,nuit,10-22 avec feu,INCENDIE,AHUNTSIC-CARTIERVILLE,0.077315,High,NaN
7414,2015-01-01,2015,nuit,10-22 avec feu,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE,0.080714,High,Introduction
7413,2015-01-01,2015,nuit,10-22 avec feu,INCENDIE,MERCIER-HOCHELAGA-MAISONNEUVE,0.080714,High,Méfait
5269,2015-01-02,2015,jour,10-22 avec feu,INCENDIE,DORVAL,0.019541,Low,NaN

In [55]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12183 entries, 0 to 12182
Data columns (total 9 columns):
DATE                  12183 non-null datetime64[ns]
YEAR                  12183 non-null int64
QUART                 12183 non-null object
INCIDENT_TYPE_DESC    12183 non-null object
DESCRIPTION_GROUPE    12183 non-null object
ARRONDISSEMENT        12183 non-null object
FIRE_RISK_RATE_YR     12183 non-null float64
RISK_LVL              12183 non-null object
CATEGORIE             9424 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 951.8+ KB

In [56]:
result['CATEGORIE'].value_counts()

Introduction                        2931
Vol dans / sur véhicule à moteur    2547
Méfait                              2141
Vol de véhicule à moteur            1210
Vols qualifiés                       590
Infractions entrainant la mort         5
Name: CATEGORIE, dtype: int64

In [57]:
#save result
result.to_csv('D:/MCGILL-DATA SCIENCE/YCBS-299-PRJ/data/jjycleaned/result.csv', index = False)